[% META title = 'Create/Update Post' %]
[%# Render the HTML::FormHandler Form %]
[% form.render %]
        [% post.id %]
<p><a href="[% c.uri_for(c.controller.action_for('list')) %]">Return to Post list</a></p>